$margin-dist: 50px;

.head {
  width: 100vw;
  height: 100vh;


  @import "nav";

  @import "main-head";
  overflow: hidden;

  .decoration {
    display: none;
    // border-style: solid;
    // border-width: 0 0 160vh 180vh;
    // border-color: transparent transparent #f0f0f0 transparent;
    // position: absolute;
    // top: -60vh;

    // right: 0px;
    // z-index: -50
  }
}

.nav-anim {
  animation: slide-from-left .5s linear 0s 1;
  animation-fill-mode: forwards;
}

.nav-anim-hide {
  animation: slide-from-left .5s linear 0s 1 reverse;
  animation-fill-mode: forwards;

}