$nav-font-height: 1.5rem;

nav {
  width: 100vw;
  height: 75px;
  background-color: pink;
  position: absolute;

  ul {
    @include flex-center(true);
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: flex-end;

    a,
    .drop {
      @include flex-center(true);
      font-size: $nav-font-height;
      justify-content: flex-end;
      text-align: center;
      width: 150px;

      &:hover {
        background-color: red;

        ul {
          display: block;
        }
      }

      li {
        position: relative;
        width: 100%;
        @import "_dropdown";
      }
    }

    #final {
      margin-right: 50px
    }
  }
}